
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    gap:35px;
    background: linear-gradient(to bottom right, #160f1d, #000000); 
}
.mainBox{
 
    background-color:  #1e384b;
    color: #ffff;
    border-radius: 15px;
    box-shadow:  0 25px 50px -12px rgba(0, 0, 0, 0.25);
     margin: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    width: 30%;
    height:90%;
}
.userTotalRounds{
    margin-top:30px;
}
.headingTimer{
    margin-top: 20px;
}
        .inputtime{
            height:9%;
            width:80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            
        }
        .input1time{
            font-size:20px;
        }
        .input1time input{
            font-size: 15px;
        }
        .set-time{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:15px;
            width: 25%;
            height:35px;
            border-radius: 15px;
            color: white;
            background-color: #4338CA;
        }
        
           .shortInputBox{
            height:10%;
            width:80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
         
        }
                .SetShortBreak{
                    font-size: 20px;
                }
        .SetShortBreak input{
            font-size:15px;
        }
        .setShort-time{
            width:30%;
            height:35px;
            border-radius:15px;
            color: white;
            background-color:#4338CA;
            font-size: 15px;
        }

          .longInputBox{
          
            height:10%;
            width:80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
          
        }
        .SetLongBreak{
            font-size: 20px;
        }
        .SetLongBreak input{
            font-size:15px;
        }
        .setLong-time{
            width: 30%;
            height:35px;
            border-radius:15px;
            color: white;
            background-color: #4338CA;
            font-size: 15px;
        }
        
        .box{
    height: 40%;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.timer{
    margin-top:20px;
    border: 1px solid black;
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}
.PomodoroRoundNumber{
   
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;   
}
.RoundNumeric{
    font-size: 20px;
}
.Roundvisual{
    font-size:20px;
}
.btn{
    width: 80%;
    height: 35%;
    display:flex ;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.btns{
    border-radius: 20px;
    color:white;
    background-color:gray;
    width: 35%;
    height:35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.start{
    background-color: #10B981;
}
.stop{
    background-color:#CA8A04;
}
.reset{
    background-color: #DC2626;
}
.completed-message {
    font-size: 25px;
    color: #10B981;
    text-align: center;
    padding: 10px;
}
.WhichFeature{
            margin-top: 20px;
            width: 80%;
            height:5%;
            display: flex;
            align-items:center ;
            justify-content: space-evenly;
            background-color:#4338CA ;
            border-radius: 10px;
            font-size:15px;
            gap: 25px;
         
        }
.WorkTimerFeature, .ShortBreakFeature ,.LongBreakFeature{
    width:25%;
    height:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
