
.container{
            width:100vw;
            height:100vh;
            background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .switch{
            width:25%;
            height:10%;
            font-size: 25px;
            font-weight: bolder;
            cursor: pointer;
            transition-property: background-color, width, height;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            box-sizing: border-box;
        }
        .switch:hover{
            background-color: pink;
                       width:50%;
            height:20%;
        }
        .gear{
            border:1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:260px;
            animation-name: rotate;
            animation-duration: 4s;
            animation-iteration-count:infinite ;
            animation-timing-function: linear;
        }
        @keyframes rotate{
            from{
                transform: rotate(0deg);
            }
            to{
                transform:rotate(360deg);
            }
        }

        .head{
            padding: 1rem; 
        animation-name: slide;
        animation-duration: 3s;
        animation-iteration-count: 1;
        }
        .task3{
         width:120%;
        padding: 1rem;
        color: white;
        background-color: blueviolet;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        @keyframes slide{
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
                padding-left: 70%;
            }
        }
